@charset "UTF-8";

/*
pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/


/*MQ TABLET*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    img {
        display: none;
    }
    
    main {
        width: 50vw;
    }
    form {
        font-size: 1em;
        
    }
    
    input {
        width: 40vw;
    }
    
    a {
        font-size: .8em;
    }
    button {
        width: 40vw;
    }
    
    footer > a {
        text-align: justify;
        left: 305px;
    }
    }
    
    /*MQ DESKTOP*/
    @media screen and (min-width: 992px) and (max-width: 1200px) {
    img {
        height: 70vh;
        width: 30vw;
        float: left;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.719);
        border-radius: 10px 2px 2px 10px;
    
        
    }
    main {
        width: 80vw;
        
    }    
    
    h1 {
        top: 50px;
        text-align: justify;
        left: 50px;
    }
    h2{
        top: 55px;
        left: 50px;
    }
    
    form {
        top: 90px;
        left: 50px;
    }
    
    input{
        width: 40vw;
    }
    
    a {
        margin-left: 50px;
    }
    
    button {
        width: 30vw;
        margin-left: 50px;
        
    }
    
    footer > a {
        left: 440px;
    }
    }


    /*TELAS GRANDES*/


    @media screen and (min-width: 1200px) {
    img {
        height: 70vh;
        width: 30vw;
        float: left;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.719);
        border-radius: 10px 2px 2px 10px;
    }

    main {
        width: 75vw;
        margin-left: 215px;
    }
    
    h1 {
        top: 60px;
        left: 100px;
    }

    h2 {
        top: 65px;
        left: 100px;
    }

    form {
        top: 90px;
        left: 160px;
    }

    input {
        width: 25vw;
       
        
    }

    button {
        width: 15vw;
        margin-top: 20px;
        margin-left: 103px;
    }

    footer {
        height: 11.9vh;
        margin-bottom: 0px;
    }

    footer > a {
        top: 10px;
        left: 690px;
    }
    }